.user-profile {
    padding: 2rem;
}
.user-profile-header {
    display: flex;
    justify-content: space-between;
}
.user-profile-section {
    padding: 1rem;
}
.user-detail-info {
    display: flex;
    justify-content: space-between;
}
.info-name {
    color: #4a4a44;
}
